@import "../style/mixin.scss";

.index-box {
  overflow-y: scroll;
  height: 100%;
  padding-top: 45px;
  .head-head {
    span {
      display: inline-block;
      vertical-align: top;
    }
    .span-icon {
      margin-left: 20px;
      .am-icon {
        vertical-align: middle;
      }
    }
    .span-name {
      text-align: center;
      width: 50%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      @include sc(18px, #fff);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .span-signIn {
      @include sc(16px, #fff);
      position: absolute;
      right: 15px;
    }
  }
  .div-swiper {
    // margin-top: 45px;
    background: #fff;
    border-bottom: 1px solid #ccc;
    .swiper-slide {
      padding-bottom: 30px;
      ul {
        li {
          display: inline-block;
          width: 25%;
          text-align: center;
          div {
            width: 42px;
            margin: 5px auto 5px;
            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }
  .business {
    border-top: 1px solid #ccc;
    margin-top: 10px;
    background-color: #fff;
    height: calc(100% - 273px);
    .head {
      @include sc(12px, #999);
      line-height: 30px;
      padding-left: 15px;
    }
    .business-list {
      padding-bottom: 45px;
      li {
        padding: 16px 10px;
        border-bottom: 1px solid #f1f1f1;
        span{
          display: inline-block;
          vertical-align: top;
        }
        .span-img {
          @include wh(63px, 63px);
          margin-right: 10px;
          img {
            @include wh(100%, 100%);
          }
        }
        .span-item {
          width: calc(100% - 73px);
          .name {
            span {
              vertical-align: middle;
            }
            .one {
              padding: 0 3px;
              border-radius: 3px;
              line-height: 16px;
              background-color: #ffd930;
              @include sc(12px, #333);
              margin-right: 10px;
            }
            .two {
              @include sc(16px, #333);
            }
            .icon_name {
              @include sc(10px, #f1f1f1);
              float: right;
            }
          }
          .sales {
            .sales-div {
              display: inline-block;
            }
            margin-top: 10px;
            .fraction {
              @include sc(12px, #ff6000);
              margin-left: 5px;
              vertical-align: middle;
            }
            .yue {
              margin-left: 5px;
              @include sc(12px, #666);
              vertical-align: middle;
            }
            .sales-div:nth-child(2) {
              float: right;
              span {
                display: inline-block;
                vertical-align: middle;
              }
              span:nth-child(1) {
                @include sc(10px, #fff);
                background-color: #3190e8;
                border-radius: 3px;
                padding: 0 2px;
              }
              span:nth-child(2) {
                border: 1px solid #3190e8;
                @include sc(10px, #3190e8);
                background-color: #fff;
                border-radius: 3px;
                padding: 0 2px;
                margin-left: 5px;
              }
            }
          }
          .time {
            margin-top: 10px;
            .give {
              @include sc(10px, #666);
            }
            .kilometre {
              font-size: 10px;
              float: right;
              span:nth-child(1) {
                color: #999;
              }
              span:nth-child(2) {
                color: #ccc;
              }
              span:nth-child(3) {
                color: #3190e8;
              }
            }
          }
        }
      }
      p {
        @include sc(12px, #666);
        text-align: center;
        padding: 10px 0;
      }
    }
  }
  button {
    position: fixed;
    bottom: 65px;
    right: 25px;
    padding: 3px;
    border: none;
    background-color: #3190e8;
    border-radius: 3px;
    @include sc(12px, #fff)
  }
}